body {
	background: #f2f3ee;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.main {
	width: 418px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 5px;
	margin-top: 20px;
}

.result {
	display: block;
	border: 1px solid black;
	height: 70px;
	margin: 5px;
	text-align: right;
	font-size: 72px;
}

.main .rowCalc {
	margin: 10px 0;
}

.main .rowCalc input {
	height: 70px;
	width: 70px;
	margin: 0 5px;
	text-decoration: none;
    font-size: 36px;
    cursor: pointer;
}